/* Reset */
html, body{
    padding:0; margin:0; overflow-x:hidden; overflow-y:auto; min-height:100vh;
    font-size:16px; font-weight:300; line-height:1.50;
    font-family:'Gotham', sans-serif;
}
body.loading{height:100vh!important; overflow-y:hidden!important;}

*{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none;}

a{transition:opacity .25s, color .25s;}
a, a:hover{text-decoration:none;}
a.link{text-decoration:underline; font-weight:400;}
a.link:hover{color:#fff;}

img.img{display:block; width:100%; height:auto;}
.fit{position:absolute; top:0; bottom:0; left:0; right:0;}
.img-fill{background-size:cover; background-position:center; background-repeat:no-repeat;}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea, button{
    font-family:'Gotham', sans-serif;
}


/* Typography */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p, li{
    margin:0; font-weight:300; line-height:1.50;
}
h1, .h1{font-size:3.75rem;}
h2, .h2{font-size:3rem;} h2.lg, .h2.lg{font-size:3.25rem;}
h3, .h3{font-size:2.5rem;}
h4, .h4{font-size:1.75rem;} h4.xl, .h4.xl{font-size:2.125rem;}
h4.lg, .h4.lg{font-size:2rem;}
h5, .h5{font-size:1.625rem;} h5.sm, .h5.sm{font-size:1.5rem;}
h6, .h6{font-size:1.3125rem;} h6.sm, .h6.sm{font-size:1.25rem;}
p, .p{font-size:.9375rem;} p.lg, .p.lg{font-size:1.125rem;}
p.md, .p.md{font-size:1.0625rem;} p.sm, .p.sm{font-size:.875rem;} 
p.xs, .p.xs{font-size:.75rem;} p.xxs, .p.xxs{font-size:.6875rem;}
p.xxxs, .p.xxxs{font-size:.625rem;}
@media screen and (max-width:1199.98px){
    h1, .h1{font-size:3.625rem;}
    h2, .h2{font-size:2.875rem;} h2.lg, .h2.lg{font-size:3.0625rem;}
    h3, .h3{font-size:2.375rem;}
    h4, .h4{font-size:1.6875rem;} h4.xl, .h4.xl{font-size:2rem;}
    h4.lg, .h4.lg{font-size:1.875rem;}
}
@media screen and (max-width:991.98px){
    h1, .h1{font-size:3.375rem;}
    h2, .h2{font-size:2.75rem;} h2.lg, .h2.lg{font-size:3rem;}
    h3, .h3{font-size:2.25rem;}
    h4, .h4{font-size:1.625rem;} h4.xl, .h4.xl{font-size:1.875rem;}
    h4.lg, .h4.lg{font-size:1.8125rem;}
    h5, .h5{font-size:1.5625rem;} h5.sm, .h5.sm{font-size:1.4375rem;}
}
@media screen and (max-width:767.98px){
    h1, .h1{font-size:3.125rem;}
    h2, .h2{font-size:2.5rem;} h2.lg, .h2.lg{font-size:2.75rem;}
    h3, .h3{font-size:2rem;}
    h4, .h4{font-size:1.5625rem;} h4.xl, .h4.xl{font-size:1.75rem;}
    h4.lg, .h4.lg{font-size:1.625rem;}
    h5, .h5{font-size:1.5rem;} h5.sm, .h5.sm{font-size:1.375rem;}
    h6, .h6{font-size:1.25rem;} h6.sm, .h6.sm{font-size:1.125rem;}
}
@media screen and (max-width:575.98px){
    h1, .h1{font-size:3rem;}
    h2, .h2{font-size:2.25rem;} h2.lg, .h2.lg{font-size:2.4375rem;}
    h3, .h3{font-size:1.75rem;}
    h4, .h4{font-size:1.4375rem;} h4.xl, .h4.xl{font-size:1.625rem;}
    h4.lg, .h4.lg{font-size:1.5rem;}
    h5, .h5{font-size:1.375rem;} h5.sm, .h5.sm{font-size:1.25rem;}
    h6, .h6{font-size:1.125rem;} h6.sm, .h6.sm{font-size:1.0625rem;}
    p, .p{font-size:.875rem;} p.lg, .p.lg{font-size:1.0625rem;} 
    p.md, .p.md{font-size:1rem;} p.sm, .p.sm{font-size:.8125rem;}
}


/* Buttons */
.btns{width:100%;}
.btn{display:inline-block; width:auto; height:auto; transition:all .25s;}

.btn.btn-action{
    position:relative; font-size:.8125rem; font-weight:500; outline:none; box-shadow:none;
    text-decoration:none; padding:.5rem 2rem; border:.25rem; white-space:nowrap; overflow:hidden;
}

.btn.btn-action > .img-icon{
    display:inline-block; height:1.125rem; width:auto; transform:translateY(-.0625rem);
    filter:grayscale(100%);
}
.btn.btn-action:hover > .img-icon{filter:grayscale(0);}

.btn.btn-md{font-size:1rem; padding:.5625rem 1.375rem;}

.btn.btn-color-01 > span{position:relative;}
.btn.btn-color-01::before{
    content:''; position:absolute; top:0; bottom:0; left:0; right:0; transition:opacity .25s;
    background-image:linear-gradient(to right,#b3c3cb,#7aa3ab,#176c74);
}
.btn.btn-color-01, .btn.btn-color-01:focus{color:#ffffff; background:#176c74;}
.btn.btn-color-01:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}
.btn.btn-color-01:hover::before, .btn.btn-color-01:active::before{opacity:0;}

.btn.btn-color-02, .btn.btn-color-01:focus{color:#0d0e0d; background:#b3c3cb;}
.btn.btn-color-02:hover{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.05);}
.btn.btn-color-02:active{box-shadow:inset 0 0 0 100rem rgba(0,0,0,.10);}


/* Inputs */
input[type=text], input[type=email], input[type=password], input[type=date], input[type=tel],
input[type=number], input[type=phone], input[type=submit], select, textarea{
    border:1px solid transparent; border-radius:.25rem; box-shadow:none!important;
    padding:.4375rem 1rem; font-size:.9375rem; font-weight:400; margin:0; color:#666665;
    outline:none!important; background:#ffffff; border:1px solid #dddddd;
    height:auto; transition:border-color .25s, color .25s;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, 
input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, 
input[type=phone]:focus, input[type=submit]:focus, select:focus, textarea:focus{
    border-color:#166c74!important;
}

input[type=text].sm, input[type=email].sm, input[type=password].sm, input[type=date].sm, 
input[type=tel].sm, input[type=number].sm, input[type=phone].sm, input[type=submit].sm, 
select.sm, textarea.sm{padding:.375rem .875rem; font-size:.875rem;}

input[type=text].xs, input[type=email].xs, input[type=password].xs, input[type=date].xs, 
input[type=tel].xs, input[type=number].xs, input[type=phone].xs, input[type=submit].xs, 
select.xs, textarea.xs{padding:.25rem .5rem; font-size:.75rem;}

input[type=text].gray, input[type=email].gray, input[type=password].gray, input[type=date].gray, 
input[type=tel].gray, input[type=number].gray, input[type=phone].gray, input[type=submit].gray, 
select.gray, textarea.gray{background:#f4f4f4; border-color:#f4f4f4;}


/* Input Wrapper */
.search-wrapper, .send-wrapper{display:block; position:relative;}
.search-wrapper input, .send-wrapper input{width:100%; padding-right:2.75rem!important;}
.search-wrapper .icon{
    position:absolute; right:.75rem; top:0; bottom:0; display:flex; align-items:center;
    pointer-events:none;
}
.search-wrapper .icon > img{display:block; height:1.4375rem; width:auto;}
.search-wrapper .icon.sm{right:.625rem;}
.search-wrapper .icon.sm > img{height:1.25rem;}
.send-wrapper button{
    position:absolute; top:0; bottom:0; right:0; width:2rem; background:transparent;
    border:0; box-shadow:none; padding:0; margin:0;
    transition:color .25s, opacity .25s;
}
.send-wrapper button:hover{color:#166c74; opacity:.75;}
.send-wrapper button img{display:block; height:1rem; width:auto; margin:0 auto;}


/* App Container */
.app-container{display:block; width:100%; margin:0 auto; padding:0 19rem 0 20rem;}
.app-container > .wrapper{
    position:relative; display:block; width:100%; padding:.5rem 0 3.5rem 0;
}


/* Post */
.post{
    width:100%; border-radius:.25rem; box-shadow:0px 3px 6px 3px rgba(0,0,0,.08);
    background:#ffffff; overflow:hidden;
}
.post .text-container{position:relative; width:100%; padding:1rem;}
.post .title{width:100%; padding:0 1.25rem 0 0;}
.post .stat em{font-size:.1875rem; line-height:1; transform:translateY(-.125rem);}
.post .toolbar{width:100%; display:flex; align-items:center; margin:.5rem 0 0 0;}
.post .post-icon{
    display:flex; align-items:center; font-size:.6875rem; font-weight:500;
    color:#666665; transition:color .25s;
}
.post .post-icon.sm{font-size:.625rem;}
.post .post-icon.icon-share{margin-left:auto;}
.post .post-icon img{display:block; height:.875rem; width:auto; transition:all .25s;}
.post .post-icon:not(.active) img{filter:grayscale(100%);}
.post .post-icon.active em, .post .post-icon.active span{color:#166c74;}
.post .post-icon.icon-heart.active em{color:#fc425c;}
.post .post-icon.top-right{position:absolute; top:1.3125rem; right:1rem;}
.post .comments{width:100%;}
.post .comment, .post .send-comment{
    width:100%; display:flex; align-items:flex-start; margin:.75rem 0 0 0;
}
.post .send-comment{align-items:center; margin:.625rem 0 0 0;}
.post .comment .text{width:auto; max-width:calc(100% - 2.5rem);}
.post .send-comment .send-wrapper{width:calc(100% - 2.5rem);}
.post .comment .text > .wrapper{
    padding:.375rem .75rem; background:#f4f4f4; border-radius:.25rem;
}


/* Profile Icon */
.profile-icon{
    position:relative; display:flex; align-items:center; justify-content:center; overflow:hidden;
    width:2.375rem; height:2.375rem; border-radius:50%; margin:.5rem 1rem .5rem 0;
}
.profile-icon em{font-size:1.625rem; color:#e7e7e7;}
.profile-icon > *{transition:transform .25s;}
.profile-icon:not(.no-hover):hover > *{transform:scale(1.25);}

.profile-icon.sm{width:2rem; height:2rem;}
.profile-icon.lg{width:3rem; height:3rem;}


/* Special Card */
.ss-card{display:block; width:100%;}
.ss-card .text-container .title, .ss-card .text-container .desc{
    display:block; display:-webkit-box; text-overflow:ellipsis; overflow:hidden;
    -webkit-box-orient:vertical; transition:color .25s;
}

/* Special Card 01 */
.ss-card-01{border-radius:.25rem; box-shadow:0px 2px 6px 2px rgba(0,0,0,.08);}
.ss-card-01 .text-container{width:100%; padding:1rem;}
.ss-card-01 .img-client{
    display:block; width:auto; max-width:8rem; height:auto; max-height:4rem; margin:0 auto;
}
@media screen and (max-width:767.98px){
    .ss-card-01{padding:.75rem 0;}
}

/* Special Card 02 */
.ss-card-02{display:flex; align-items:flex-start;}
.ss-card-02 .img-container{width:5rem; border-radius:.25rem; overflow:hidden;}
.ss-card-02 .text-container{width:calc(100% - 5rem); padding:0 0 0 1rem;}
.ss-card-02 .text-container .title{-webkit-line-clamp:2; color:#000000;}
.ss-card-02:hover .text-container .title{color:#166c74;}

/* Special Card 03 */
.ss-card-03{width:100%; display:flex; overflow:hidden;}
.ss-card-03 .img-container{width:18.75rem;}
.ss-card-03 .text-container{width:calc(100% - 18.75rem); padding:1rem 1.5rem;}
.ss-card-03 .text-container .title{-webkit-line-clamp:1;}
.ss-card-03 .text-container .desc{-webkit-line-clamp:3; min-height:4.1875rem;}
.ss-card-03 .options{margin:1rem 0 0 0;}
@media screen and (max-width:991.98px){
    .ss-card-03 .img-container{width:16rem;}
    .ss-card-03 .text-container{width:calc(100% - 16rem); padding:1rem;}
}
@media screen and (max-width:767.98px){
    .ss-card-03 .img-container{width:12rem;}
    .ss-card-03 .text-container{width:calc(100% - 12rem);}
}
@media screen and (max-width:575.98px){
    .ss-card-03{flex-wrap:wrap;}
    .ss-card-03 .img-container{width:100%;}
    .ss-card-03 .text-container{width:100%;}
}

/* Special Card 04 */
.ss-card-04{height:100%; overflow:hidden;}
.ss-card-04 > .wrapper{
    position:relative; width:100%; height:100%; padding:0 0 4.375rem 0;
}
.ss-card-04 .options{position:absolute; bottom:1rem; left:1rem; right:1rem;}
.ss-card-04 .text-container{width:100%; padding:1rem 1rem 0 1rem;}
.ss-card-04 .text-container .title{-webkit-line-clamp:2;}
.ss-card-04 .text-container .desc{-webkit-line-clamp:3; min-height:4.1875rem;}

/* Special Card 05 */
.ss-card-05{display:flex; align-items:flex-start; width:100%;}
.ss-card-05 .img-container{width:4.25rem;}
.ss-card-05 .text-container{width:calc(100% - 5.5625rem); padding:0 1rem;}
.ss-card-05 .text-container .title{-webkit-line-clamp:2;}
.ss-card-05 .option-container{width:1.3125rem; position:relative; margin:0 0 0 auto;}
.ss-card-05 .option-container > .icon{
    width:100%; height:1.3125rem; display:flex; align-items:center; cursor:pointer;
}
.ss-card-05 .option-container > .icon > img{display:block; width:100%; height:auto;}
.ss-card-05 .option-container > .popup-options{left:unset; right:0;}
@media screen and (max-width:991.98px){
    .ss-card-05 .img-container{width:4rem;}
    .ss-card-05 .text-container{width:calc(100% - 5.3125rem);}
}


/* Special Image */
.ss-img{display:block; position:relative; width:100%; padding:60% 0 0 0; overflow:hidden;}
.ss-img.horizontal{padding:56% 0 0 0;}
.ss-img.vertical{padding:72% 0 0 0;}
.ss-img.square{padding:100% 0 0 0;}
.ss-img.adaptive{padding:0; height:100%;}
.ss-img > .img-bg{
    position:absolute; top:0; bottom:0; left:0; right:0; background-size:cover;
    background-position:center; transition:transform .3s;
}
.ss-img:hover > .img-bg, .ss-card:hover .ss-img > .img-bg{transform:scale(1.1);}
.ss-img.no-hover > .img-bg, .ss-card .ss-img.no-hover > .img-bg{transform:none!important;}

.ss-img .hover-container{
    position:absolute; top:0; bottom:0; left:0; right:0; opacity:0;
    display:flex; justify-content:center; align-items:center; transition:opacity .25s;
}
.ss-img:hover .hover-container, .ss-card:hover .ss-img .hover-container{opacity:1;}
.ss-img .hover-container .icon{display:block; width:4rem;}
.ss-img .hover-container .icon > img{display:block; width:100%; height:auto;}

.ss-img .mag-bg::before{
    content:''; position:absolute; bottom:0; left:0; right:0; height:4rem;
    clip-path:polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}
.ss-img .mag-container, .ss-img .logo-container, .ss-img .profile-container{
    position:absolute; top:0; bottom:0; left:0; right:0; display:flex; align-items:center;
    justify-content:center;
}
.ss-img .mag-container > img{
    display:block; width:auto; max-width:calc(100% - 1.5rem);
    height:auto; max-height:calc(100% - 1.5rem);
    box-shadow:0px 6px 12px 6px rgba(0,0,0,.1);
}
.ss-img .logo-container > img{
    display:block; width:auto; max-width:calc(100% - 4rem);
    height:auto; max-height:calc(100% - 2rem);
}
.ss-img .profile-container{align-items:flex-end;}
.ss-img .profile-container > img{
    display:block; width:auto; max-width:calc(100% - 2rem);
    height:auto; max-height:calc(100% - 1rem);
}

.ss-img .play-container{
    position:absolute; top:0; bottom:0; left:0; right:0; transition:transform .25s;
    display:flex; justify-content:center; align-items:center;
    background:rgba(22,108,116,.6);
}
.ss-img .play-container .icon{
    display:block; width:4rem; height:4rem; border-radius:50%; border:5px solid transparent;
    color:#ffffff; font-size:2.25rem; text-align:center; line-height:4rem;
}
.ss-img .play-container .icon.xs{font-size:1rem;}

.ss-img .short-desc{position:absolute; bottom:0; left:0; padding:.5rem .625rem;}
.ss-img .top-desc{position:absolute; top:0; left:0; padding:.25rem .5rem;}
.ss-img .detail-wrapper{
    position:absolute; top:0; bottom:0; left:0; right:0; display:block; padding:.75rem;
}

.ss-img .video-info{
    position:absolute; top:0; left:0; display:flex; align-items:center; padding:.375rem;
}
.ss-img .video-info .duration{
    padding:.1875rem .625rem; border-radius:1000em; margin:0 .1875rem 0 0;
    white-space:nowrap; font-size:.75rem; font-weight:500;
}
.ss-img .video-info > em{font-size:1.5625rem;}

@media screen and (max-width:575.98px){
    .ss-img.adaptive{padding:60% 0 0 0; height:auto;}
}


/* Special Status */
.ss-status{width:100%; display:flex; align-items:center; flex-wrap:wrap;}
.ss-status > .status{
    display:flex; align-items:center; white-space:nowrap; padding:0 .875rem 0 0;
    margin:.125rem 0 0 0;
}
.ss-status > .status:last-child{padding:0;}
.ss-status > .status .icon{margin:0 .4375rem 0 0; transform:translateY(-.0625rem);}
.ss-status > .status .icon img{display:block; height:.8125rem; width:auto;}


/* Special Title 01 */
.ss-title-01{width:100%; display:flex; align-items:center;}
.ss-title-01 h6{width:calc(100% - 4rem);}


/* Utility */
.text-3xl{font-size:240%!important; line-height:.25;}
.text-2xl{font-size:150%!important; line-height:.25;}
.text-xl{font-size:128%!important;}
.text-lg{font-size:114%!important;}
.text-md{font-size:110%!important;}
.text-nm{font-size:.9375rem!important;}
.text-sm{font-size:90%!important;}
.text-xs{font-size:80%!important;}
.text-2xs{font-size:70%!important;}
.text-3xs{font-size:60%!important;}

.fw-100{font-weight:100!important;}
.fw-200{font-weight:200!important;}
.fw-300{font-weight:300!important;}
.fw-400{font-weight:400!important;}
.fw-500{font-weight:500!important;}
.fw-600{font-weight:600!important;}
.fw-700{font-weight:700!important;}
.fw-800{font-weight:800!important;}
.fw-900{font-weight:900!important;}

.lh-xl{line-height:2.00;}
.lh-lg{line-height:1.90;}
.lh-nm{line-height:1.50;}
.lh-sm{line-height:1.40;}
.lh-xs{line-height:1.25;}
.lh-2xs{line-height:1.00;}
.lh-3xs{line-height:.80;}

.bshadow{border-radius:.25rem; box-shadow:0px 2px 6px 2px rgb(0 0 0 / 5%);}

.op-100{opacity:1!important;} .op-0{opacity:0!important;}
.op-10{opacity:.1!important;} .op-20{opacity:.2!important;} .op-30{opacity:.3!important;}
.op-40{opacity:.4!important;} .op-50{opacity:.5!important;} .op-60{opacity:.6!important;}
.op-70{opacity:.7!important;} .op-80{opacity:.8!important;} .op-90{opacity:.9!important;}

.d-block{display:block!important;}
.d-flex{display:flex!important;}
.d-inline{display:inline!important;}
.d-inline-block{display:inline-block!important;}
.d-none{display:none!important;}

.jc-start{justify-content:flex-start!important;}
.jc-center{justify-content:center!important;}
.jc-end{justify-content:flex-end!important;}
.jc-space-between{justify-content:space-between!important;}
.jc-space-evenly{justify-content:space-evenly!important;}
.ai-center{align-items:center!important;}
.ai-start{align-items:flex-start!important;}
.ai-end{align-items:flex-end!important;}
.ai-unset{align-items:unset!important;}
.fw-wrap{flex-wrap:wrap!important;}
.fw-unset{flex-wrap:unset!important;}

.width-auto{width:auto!important;}
.width-full{width:100%!important; max-width:100%!important;}
.height-auto{height:auto!important;}
.height-full{height:100%!important; max-height:100%!important;}

.ws-nowrap{white-space:nowrap!important;}
.ws-normal{white-space:normal!important;}
.no-br > br{display:none;}

.no-border{border:0!important;}
.no-border-bottom{border-bottom:0!important;}
.border{border:1px solid transparent!important;}
.border-2{border:2px solid transparent!important;}
.border-3{border:3px solid transparent!important;}
.border-4{border:4px solid transparent!important;}
.border-top{border-top:1px solid transparent!important;}
.border-top-2{border-top:2px solid transparent!important;}
.border-top-3{border-top:3px solid transparent!important;}
.border-top-4{border-top:4px solid transparent!important;}
.border-bottom{border-bottom:1px solid transparent!important;}
.border-bottom-2{border-bottom:2px solid transparent!important;}
.border-bottom-3{border-bottom:3px solid transparent!important;}
.border-bottom-4{border-bottom:4px solid transparent!important;}

.bradius-1{border-radius:.25rem!important;}
.bradius-2{border-radius:.5rem!important;}
.bradius-3{border-radius:.75rem!important;}
.bradius-4{border-radius:1rem!important;}
.bradius-round{border-radius:1000em!important;}

.no-bradius{border-radius:0!important;}
.no-padding{padding:0!important;}
.box-shadow{box-shadow:0px 5px 20px 10px rgba(0,0,0,.1);}

.ovf-hidden{overflow:hidden!important;}
.ovf-visible{overflow:visible!important;}
.clear-both{clear:both!important;}

.va-baseline{vertical-align:baseline!important;}

@media screen and (max-width:1199.98px){
    .lg-no-br > br{display:none;}
}
@media screen and (max-width:991.98px){
    .md-no-br > br{display:none;}
}
@media screen and (max-width:767.98px){
    .sm-no-br > br{display:none;}
}
@media screen and (max-width:575.98px){
    .xs-no-br > br{display:none;}
    .xs-hide{display:none;}
}


/* Margin & Padding */
.mt-0{margin-top:0!important;}
.mt-1{margin-top:.25rem!important;}
.mt-2{margin-top:.5rem!important;}
.mt-3{margin-top:.75rem!important;}
.mt-4{margin-top:1rem!important;}
.mt-5{margin-top:1.25rem!important;}
.mt-6{margin-top:1.5rem!important;}

.mb-0{margin-bottom:0!important;}
.mb-1{margin-bottom:.25rem!important;}
.mb-2{margin-bottom:.5rem!important;}
.mb-3{margin-bottom:.75rem!important;}
.mb-4{margin-bottom:1rem!important;}
.mb-5{margin-bottom:1.25rem!important;}
.mb-6{margin-bottom:1.5rem!important;}

.ml-0{margin-left:0!important;}
.ml-1{margin-left:.25rem!important;}
.ml-2{margin-left:.5rem!important;}
.ml-3{margin-left:.75rem!important;}
.ml-4{margin-left:1rem!important;}
.ml-5{margin-left:1.25rem!important;}
.ml-6{margin-left:1.5rem!important;}

.mr-0{margin-right:0!important;}
.mr-1{margin-right:.25rem!important;}
.mr-2{margin-right:.5rem!important;}
.mr-3{margin-right:.75rem!important;}
.mr-4{margin-right:1rem!important;}
.mr-5{margin-right:1.25rem!important;}
.mr-6{margin-right:1.5rem!important;}

.pt-0{padding-top:0!important;}
.pt-1{padding-top:.25rem!important;}
.pt-2{padding-top:.5rem!important;}
.pt-3{padding-top:.75rem!important;}
.pt-4{padding-top:1rem!important;}
.pt-5{padding-top:1.25rem!important;}
.pt-6{padding-top:1.5rem!important;}

.pb-0{padding-bottom:0!important;}
.pb-1{padding-bottom:.25rem!important;}
.pb-2{padding-bottom:.5rem!important;}
.pb-3{padding-bottom:.75rem!important;}
.pb-4{padding-bottom:1rem!important;}
.pb-5{padding-bottom:1.25rem!important;}
.pb-6{padding-bottom:1.5rem!important;}

.pl-0{padding-left:0!important;}
.pl-1{padding-left:.25rem!important;}
.pl-2{padding-left:.5rem!important;}
.pl-3{padding-left:.75rem!important;}
.pl-4{padding-left:1rem!important;}
.pl-5{padding-left:1.25rem!important;}
.pl-6{padding-left:1.5rem!important;}

.pr-0{padding-right:0!important;}
.pr-1{padding-right:.25rem!important;}
.pr-2{padding-right:.5rem!important;}
.pr-3{padding-right:.75rem!important;}
.pr-4{padding-right:1rem!important;}
.pr-5{padding-right:1.25rem!important;}
.pr-6{padding-right:1.5rem!important;}

.p-0{padding:0!important;}
.p-1{padding:.25rem!important;}
.p-2{padding:.5rem!important;}
.p-3{padding:.75rem!important;}
.p-4{padding:1rem!important;}
.p-5{padding:1.25rem!important;}
.p-6{padding:1.5rem!important;}


/* Colors */
.color-white, .h-color-white:hover{color:#ffffff!important;}
.color-black, .h-color-black:hover{color:#000000!important;}
.color-dark, .h-color-dark:hover{color:#0e0e0e!important;}
.color-gray, .h-color-gray:hover{color:#666666!important;}
.color-sgray, .h-color-sgray:hover{color:#c8c8c8!important;}
/* .color-lgray, .h-color-lgray:hover{color:#e1e1e1!important;}
.color-fgray, .h-color-fgray:hover{color:#f1f1f1!important;} */
.color-01, .h-color-01:hover{color:#156c75!important;}

.bg-white{background:#ffffff!important;}
.bg-black{background:#000000!important;}
.bg-dark{background:#0e0e0e!important;}
.bg-gray{background:#666666!important;}
.bg-sgray{background:#c8c8c8!important;}
/* .bg-lgray{background:#aca3a3!important;}
.bg-fgray{background:#f1f1f1!important;} */
.bg-01{background:#156c75!important;}

.bcolor-white{border-color:#ffffff!important;}
.bcolor-black{border-color:#000000!important;}
.bcolor-dark{border-color:#0e0e0e!important;}
.bcolor-gray{border-color:#666666!important;}
.bcolor-sgray{border-color:#c8c8c8!important;}
/* .bcolor-lgray{border-color:#e1e1e1!important;}
.bcolor-fgray{border-color:#f1f1f1!important;} */
.bcolor-01{border-color:#156c75!important;}
